.custom-button {
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  background-color: rgba(0, 0, 0, 0.199);
  color: white;
  text-transform: uppercase;
  font-weight: lighter;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  border-radius: 1.5em;

  &:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
  }

  &.shopnow {
    background-color: #3d7606;
    color: black;
    border: none;

    &:hover {
      background-color: #000;
      color: white;
      border: none;
    }
  }
}

@media (max-width: 768px) {
  .custom-button {
    min-width: 220px;
    padding: 0 25px 0 25px;
    font-size: 12px;
    border-radius: 1.5em;
}
}